{% extends "base.html" %}

{% block title %} {{ title }} | {{ config.site.title }} {% endblock title %}

{% block structured_data %}
{{ super() }}
<script type="application/ld+json">
{{ generate_ldjson(type="article", current_page=current_page) | safe }}
</script>
{% endblock structured_data %}

{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting" itemid="{{ page.permalink | safe }}">
    <div>
        <h1 class="topline" itemprop="name">{{ page.title }}</h1>
        {% if page.description %}
        <span class="article-description" itemprop="description"><em>{{ page.description }}</em></span>
        {% endif %}
        <span style="float: right;">
        {% if page.date %}
        <time datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}" class="date" itemprop="datePublished" pubdate>
            {{ page.date | date(format="%F") }}
        </time>
        <address>
            by <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ config.extra.author }}</span>
            </span>
        </address>
        {% endif %}
        </span>
        <hr class="small">
        {% if page.updated and page.updated != page.date %}
        <time datetime="{{ page.updated | date(format="%Y-%m-%dT%H:%M:%S%:z") }}" class="date" itemprop="dateModified">
            (Updated {{ page.updated | date(format="%F") }})
        </time>
        {% endif %}
    </div>
    <div itemprop="articleBody">
        <!-- {# {{ page.content | safe | replace(from="<!-- toc -->", to=post_macros::toc(toc=page.toc)) | safe }} #} -->
    {{ content | safe }}
    </div>
    {% if page.tags or page.categories %}
    <hr class="small">
    <div class="bibtex-citation">
        <details>
            <summary>Cite as BibTeX</summary>
            <pre data-lang="BibTeX"><code>@misc{{"{"}}{% if page.slug %}{{ page.slug }}{% else %}{{ page.title | slugify }}{% endif %},
    author = {{"{"}}{{config.extra.author}}{{"}"}},
    title = {{"{"}}{{page.title}}{{"}"}},
    year = {{"{"}}{{page.date | date(format="%Y")}}{{"}"}},
    url = {{"{"}}{{page.permalink}}{{"}"}},
    howpublished = {{"{"}}{{page.permalink}}{{"}"}},
    urldate = {{"{"}}{{ page.date | date(format="%Y-%m-%d")}}{{"}"}}{% if page.description %},
    note = {{"{"}}{{config.site.title}} - {{page.description}}{{"}"}}{% endif %}
}</code></pre>
        </details>
    </div>
    <hr class="small">
    <div class="prev-next-links">
        {% if page.lower %}
            <a href="{{ page.lower.permalink | safe }}" class="prev-link">&laquo; {{ page.lower.title }}</a>
        {% endif %}
        {% if page.higher %}
            <a href="{{ page.higher.permalink | safe }}" class="next-link">{{ page.higher.title }} &raquo;</a>
        {% endif %}
    </div>

    <div aria-label="Tags">
        {% if page.categories %}
        {% set category = page.categories[0] %}
        in <a href="{{ category.permalink | safe }}">{{ category.name }}</a>
        {% endif %}
        {% if page.tags %}
        {% if page.categories %}and{% endif %}
        tagged
        {% for tag in page.tags %}
        <a href="{{ tag.permalink | safe }}" rel="tag">{{ tag.name }}</a>
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}
    {% block extra_footer %}
    {% endblock extra_footer %}
</article>

{% endblock main %}
