$luna_hair_fill: #1F46C6;
$luna_hair_stroke: #5E46C1;
$luna_hair_outer: rgba(173, 161, 223, 127);
$luna_body_fill: #1E376F;
$luna_body_stroke: #051D42;
$luna_cutie_mark_black: #141414;
$luna_eye_accent: #3BB1BC;
$luna_hoof_slippers: #5D6ECD;
